/* Chargement de la police Albert Sans */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap');


/* Conteneur principal pour toutes les boutiques */
#toute_les_boutiques {
    margin: 0px;
    padding: 0px;
    gap: 0px;
    overflow: hidden;
}

/* Section avec une image de fond dynamique */
.image_dynamique_boutique {
    height: 1080px;
    width: 100%;
    background-image: url('ress/photo_nuit.jpg'); /* Image de fond */
    background-size: cover; /* Couvre tout l'espace disponible */
    background-position: center; /* Centre l'image */
    background-attachment: fixed; /* Effet de parallaxe */
    padding-top: 13%;
    position: relative;
    z-index: 2;
}

/* Conteneur pour le titre de la section */
.titre_slide {
    display: grid;
    grid-template-columns: 50% 46%;
    grid-template-rows: 80%;
}

/* Élément invisible utilisé pour l'espacement ou la mise en page */
#invisible {
    opacity: 0;
}

/* Titre principal des boutiques */
#boutique_h1 {
    color: #FFFFFF;
    font-size: 70px;
    justify-content: right;
    text-align: center;
    font-family: 'Albert Sans';
}

/* Partie du titre avec bordure blanche */
#boutique_span_particulier {
    color: transparent;
    -webkit-text-stroke: 1px white; /* Bordure blanche du texte */
    font-family: 'Albert Sans';
    display: inline-block;
    text-align: left;
}

/* Conteneur pour le bouton "Toutes les boutiques" */
.bouton_toutes_les_boutiques {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

/* Style du bouton "Toutes les boutiques" */
#boutique_bouton {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #FFFFFF;
    font-size: 20px;
    color: #E82723;
    border-radius: 10px;
}

/* Conteneur principal des boutiques */
.toutes_les_boutiques {
    justify-content: center;
    place-items: center;
    padding-top: 2%;
}

/* Chargement de la police Albert Sans */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&display=swap');

/* Grille pour les catégories de boutiques */
.boutique {
    display: grid;
    grid-template-columns: 211px 211px 211px 211px 211px;
    grid-template-rows: 211px;
    gap: 56px;
}

/* Style pour les catégories spécifiques */
.maison, .restauration, .mode_bijoux, .beaute_sante, .culture_loisirs {
    text-align: center;
    justify-content: center;
    padding-top: 10%;
    display: grid;
    gap: 12%;
    border: 5px solid #FFFFFF;
    border-radius: 18px;
    opacity: 1;
    transition: margin-top 0.5s ease;
}

/* Effet de survol pour les catégories */
.maison:hover, .restauration:hover, .mode_bijoux:hover, .beaute_sante:hover, .culture_loisirs:hover {
    background-color: #EC1C24; /* Change la couleur de fond */
    transform: translateY(-12px); /* Déplace l'élément vers le haut */
}

/* Texte dans chaque catégorie */
.text_boutique {
    font: normal normal bold 22px 'Albert Sans';
    letter-spacing: 0px;
    color: #FFFFFF;
}

/* Images dans les catégories */
.boutique img {
    width: 100px;
    height: 100px;
}

/* Texte sous les boutiques */
.texte_boutique_paragraphe {
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Albert Sans';
    color: #FFFFFF;
    font-weight: lighter;
    margin-top: 5%;
}

/* Texte en gras sous les boutiques */
#texte_boutique_en_gras {
    font-weight: bold;
}

/* Section jaune contenant les informations */
.boutique_partie_jaune {
    width: 1392px;
    height: 398px;
    background-color: #F8DF00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    margin-top: 34%;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 15% 30% 25% 20%;
}

/* Titre des réseaux sociaux */
.reseau {
    font: bold 58px 'Albert Sans';
    color: white;
    -webkit-text-stroke: 3px black;
    margin-left: 15%;
}

/* Colonne pour afficher les réseaux sociaux */
.colone_de_droite_reseau {
    position: absolute;
    z-index: 4;
    height: 100%;
    display: grid;
    place-items: baseline;
    transform: translateY(-9%);
}

/* Titre pour le formulaire "Bon Plan" */
.info_bon_plan_titre {
    text-align: center;
    font-size: 50px;
    display: flex;
    color: black;
    font-family: 'Albert Sans';
    font-weight: 900;
    justify-content: center;
    place-items: center;
}

/* Section pour le formulaire "Bon Plan" */
.info_bon_plan_email {
    display: grid;
    place-items: center;
}

/* Texte explicatif sous le titre "Bon Plan" */
.info_bon_plan_text {
    text-align: center;
    font-size: 18px;
    font-family: 'Albert Sans';
}

/* Conteneur pour le champ email */
.form_email {
    width: 487px;
    height: 60px;
    background-color: #F8DF00;
    border: 3px solid #000000;
    border-radius: 90px;
    display: grid;
    grid-template-columns: 50% 80%;
    place-items: center;
}

/* Champ d'entrée pour l'email */
#email {
    width: 150%;
    background-color: #F8DF00;
    font-size: 20px;
    color: #000000;
    border-color: transparent;
    margin-left: 3%;
    font-family: 'Albert Sans';
    outline: none;
    text-align: left;
}

/* Flèche pour envoyer l'email */
#fleche_noir_email_envoyer {
    width: 24px;
    height: 23px;
    transition: margin-left 0.2s ease;
}

#fleche_noir_email_envoyer:hover {
    margin-left: 30%;
}

/* Section rouge sous les boutiques */
.boutique_partie_rouge {
    width: 100%;
    height: 566px;
    background-color: #EC1C24;
    display: flex;
    justify-content: center;
    place-items: end;
}

/* Conteneur pour le slider */
.slider-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}


.slider-wrapper {
    display: flex;
    width: max-content;
    animation: defilement 12s linear infinite;
}

/* Images dans le slider */
.slide img {
    width: 211px;
    height: 211px;
    object-fit: cover;
    margin-right: 26px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Animation de défilement pour le slider */
@keyframes defilement {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* Effet de survol pour les images du slider */
.slide img:hover {
    border: #F8DF00 solid 10px;
}


/*Responsive de 1920px jusqu'en 320px*/
  @media screen and (min-width: 1920px) {
    .image_dynamique_boutique {
        height: 1080px;
        padding-top: 13%;
    }
    #boutique_h1 {
        font-size: 75px;
    }
    .text_boutique {
        font-size: 25px;
    }
}


@media screen and (max-width: 1920px) {
    #boutique_h1 {
        font-size: 60px;
    }
    .text_boutique {
        font-size: 20px;
    }
    
}

@media screen and (max-width: 1450px)  { 

    .boutique_partie_jaune{
        width: 1000px;
        height: 398px;
       
    }
   
    .image_dynamique_boutique {
    
        padding-top: 6%;
    }
    #boutique_h1 {
        font-size: 50px;
    }
    .text_boutique {
        font-size: 18px;
    }
    .reseau{
        font-size: 50px;
    }


}

@media screen and (max-width: 1300px) { 

.boutique{
    display: grid;
    grid-template-columns: 180px 180px 180px 180px 180px;
    grid-template-rows: 211px;
    gap: 35px;

}

.image_dynamique_boutique {

    padding-top: 5%;
}






}

@media screen and (max-width: 1075px)  { 
    .boutique_partie_jaune{
        width: 800px;
        height: 300px;
   
    }
    #boutique_h1 {
        font-size: 40px;
    }
    
    .image_dynamique_boutique {
    
        padding-top: 4%;
    }
   
    .texte_boutique_paragraphe{
        font-size: 25px;
        
    }
    .boutique {
        display: grid;
        grid-template-columns: repeat(3, 180px); 
        grid-template-rows: repeat(2, 180px); 
        gap: 35px; 
        justify-content: center; 
        padding: 0;
    }
    
    .beaute_sante {
        grid-column: 1 / span 2; 
        grid-row: 2; 
        justify-self: center; 
        width: 180px;
        padding-top: 5%;
    }
    
    .culture_loisirs {
        grid-column: 2 / span 2; 
        grid-row: 2; 
        justify-self: center;
        width: 180px;
        padding-top: 5%;
       
        
    }
   .colone_de_droite_reseau{
    height: 110%;
   }
   .info_bon_plan_titre{
    font-size: 40px;
   }
   .form_email{
    height: 40px;
   }
    
    }
    @media screen and (max-width: 885px)  { 
        .slide img{
            width: 180px;
            height: 180px;
            margin-right: 20px;
        }
        .boutique_partie_jaune{
            width: 700px;
            height: 300px;
           
        }
        .info_bon_plan_text{
            font-size: 13px;
        }
    }
    @media screen and (max-width: 745px)  { 
        .boutique_partie_jaune{
            width: 600px;
            height: 300px;
           
        }
        .texte_boutique_paragraphe{
            font-size: 20px;
        }
    }
    @media screen and (max-width: 650px)  { 
      
        .image_dynamique_boutique {
    
            padding-top: 3%;
        }
        .boutique_partie_jaune{
            width: 500px;
            height: 300px;
           
        }
        .colone_de_droite_reseau{
            height: 90%;
            
           }

        
        .info_bon_plan_titre{
        font-size: 40px;
        }
        .form_email{
         width:387px;
         }
         .texte_boutique_paragraphe{
            font-size: 22px;
            margin-top: 10%;
            
        }
        .reseau{
            font-size: 40px;
        }
        .info_bon_plan_text{
            font-size: 10px;
        }
        .boutique {
            display: grid;
            grid-template-columns: repeat(3, 150px); 
            grid-template-rows: repeat(2, 150px); 
            gap: 28px; 
            justify-content: center; 
            padding: 0;
            
        }
        
        .beaute_sante {
            grid-column: 1 / span 2; 
            grid-row: 2; 
            justify-self: center; 
            width: 150px;
            padding-top: 5%;
        }
        
        .culture_loisirs {
            grid-column: 2 / span 2; 
            grid-row: 2; 
            justify-self: center;
            width: 150px;
            padding-top: 5%;
           
            
        }
        .text_boutique{
            font-size: 15px;
        }
        .boutique img{
            height: 80px;
            width: 80px;
        }
        #email{
            margin-left: 5%;
        }
    }
    @media screen and (max-width: 550px)  { 
        .boutique_partie_jaune{
            width: 400px;
            height: 250px;
        }
        .info_bon_plan_titre{
            font-size: 30px;
            }
        .boutique_partie_jaune {
        grid-template-rows: 10% 30% 25% 25%;
        }     
        .info_bon_plan_text{
            font-size: 9px;
        }
        .texte_boutique_paragraphe{
            font-size: 20px;
            margin-top: 10%;
            
        }
        .colone_de_droite_reseau{
            height: 105%;
           }
           .form_email{
            width:357px;
            }
        .boutique_partie_rouge {
        height: 500px;
        }
        .boutique {
            display: grid;
            grid-template-columns: repeat(3, 120px); 
            grid-template-rows: repeat(2, 120px); 
            gap: 28px; 
            justify-content: center; 
            padding: 0;
            
        }
        
        .beaute_sante {
            grid-column: 1 / span 2; 
            grid-row: 2; 
            justify-self: center; 
            width: 120px;
            padding-top: 5%;
        }
        
        .culture_loisirs {
            grid-column: 2 / span 2; 
            grid-row: 2; 
            justify-self: center;
            width: 120px;
            padding-top: 5%;
        }   
        .boutique img{
            height: 50px;
            width: 50px;
        }
        .text_boutique{
            font-size: 12px;
        }
        .texte_boutique_paragraphe{
            font-size: 20px;
            margin-top: 30%;
            
        }
        .reseau{
            font-size: 35px;
            color: white;
            -webkit-text-stroke: 2px black
        }
        .colone_de_droite_reseau{
            height: 88%;
            
           }
           #boutique_h1 {
            font-size: 30px;
        }
        
    }

    @media screen and (max-width: 450px)  {   
        .boutique_partie_jaune{
            width: 350px;
            height: 200px;
        }
        .info_bon_plan_titre{
            font-size: 25px;
            }
        .boutique_partie_jaune {
        grid-template-rows: 8% 30% 25% 27%;
        }     
        .info_bon_plan_text{
            font-size: 7px;
        }
        .texte_boutique_paragraphe{
            font-size: 20px;
            margin-top: 10%;
            
        }
        .form_email{
            width:300px;
            }
        .colone_de_droite_reseau{
            height: 127%;
            }

        .reseau{    
                color: white;
                -webkit-text-stroke: 2px black
            }

            .boutique {
                display: grid;
                grid-template-columns: repeat(3, 100px); 
                grid-template-rows: repeat(2, 100px); 
                gap: 26px; 
                justify-content: center; 
                padding: 0;
                
            }
            
            .beaute_sante {
                grid-column: 1 / span 2; 
                grid-row: 2; 
                justify-self: center; 
                width: 100px;
                padding-top: 5%;
            }
            
            .culture_loisirs {
                grid-column: 2 / span 2; 
                grid-row: 2; 
                justify-self: center;
                width: 100px;
                padding-top: 5%;
            }   
            .boutique img{
                height: 30px;
                width: 30px;
            }    
            .texte_boutique_paragraphe{
                font-size: 20px;
                margin-top: 50%;
                
            }
            #boutique_bouton {
        
                font-size: 16px;
               
            }
            .titre_slide {
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: auto;
                text-align: center
            }
            #boutique_h1 {
               
                justify-content: center;
                text-align: center;
             
                 
            }
            .bouton_toutes_les_boutiques {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5%;
            }
     @media screen and (max-width: 390px) { 
    .boutique_partie_jaune {
        width: 300px;
        height: 180px;
        grid-template-rows: 8% 30% 25% 27%;
    }
    .info_bon_plan_titre {
        font-size: 20px;
    }
    .info_bon_plan_text {
        font-size: 7px;
    }
   
    .form_email {
        width: 250px;
        height: 35px;
    }
    .reseau {
        font-size: 30px;
        -webkit-text-stroke: 1.5px black;
    }
    #email{
        margin-left: 8%;
    }
    
    #boutique_bouton {
        font-size: 14px;
        padding: 3% 5%;
    }
    .boutique {
        display: grid;
        grid-template-columns: repeat(2, 100px); 
        grid-template-rows: 100px 100px 100px; 
        gap: 26px;
        justify-content: center; 
        padding: 0;
    }
   
    
   
    
    .mode_bijoux {
        grid-column: 1 / span 2; 
        grid-row: 2; 
        justify-self: center; 
        width: 100px;
        padding-top: 5%;
    }
    .maison,.restauration{
        width: 100px;
        padding-top: 5%;
    }
    
    .beaute_sante {
        grid-column: 1; 
        grid-row: 3;
        justify-self: center;
    }
    
    .culture_loisirs {
        grid-column: 2;
        grid-row: 3; 
        justify-self: center;
    }
    
}
      }

      @media screen and (max-width: 390px) { 
        .boutique_partie_jaune {
            width: 280px;
            height: 180px;
            grid-template-rows: 8% 30% 25% 27%;
        }
        .info_bon_plan_titre {
            font-size: 20px;
        }
        .info_bon_plan_text {
            font-size: 7px;
        }
       
        .form_email {
            width: 250px;
            height: 35px;
        }
        .reseau {
            font-size: 30px;
            -webkit-text-stroke: 1.5px black;
        }
        
        #boutique_bouton {
            font-size: 14px;
            padding: 3% 5%;
        }
    }





    @media screen and (max-width: 1820px)  {   
        .boutique_partie_jaune{           
        margin-top: 36%;
        }
    }
    @media screen and (max-width: 1720px)  {   
        .boutique_partie_jaune{           
        margin-top: 38%;
        }
    }
    @media screen and (max-width: 1620px)  {   
        .boutique_partie_jaune{           
        margin-top: 40%;
        }
    }
    @media screen and (max-width: 1520px)  {   
        .boutique_partie_jaune{           
        margin-top: 42.5%;
        }
    }
    @media screen and (max-width: 1450px)  {   
        .boutique_partie_jaune{           
            margin-top: 42%;
            }
    }
    @media screen and (max-width: 1320px)  {   
        .boutique_partie_jaune{           
            margin-top: 43%;
            }
    }
    @media screen and (max-width: 1220px)  {   
        .boutique_partie_jaune{           
            margin-top: 46%;
            }
    }
    @media screen and (max-width: 1170px)  {   
        .boutique_partie_jaune{           
            margin-top: 47%;
            }
    }
    @media screen and (max-width: 1120px)  {   
        .boutique_partie_jaune{           
            margin-top: 48%;
            }
    }
    @media screen and (max-width: 1080px)  {   
        .boutique_partie_jaune{           
            margin-top: 51%;
            }
    }
    @media screen and (max-width: 1020px)  {   
        .boutique_partie_jaune{           
            margin-top: 55%;
            }
    }
    @media screen and (max-width: 940px)  {   
        .boutique_partie_jaune{           
            margin-top: 60%;
            }
    }
    @media screen and (max-width: 885px)  {   
        .boutique_partie_jaune{           
            margin-top: 70%;
            }
    }
    @media screen and (max-width: 795px)  {   
        .boutique_partie_jaune{           
            margin-top: 77%;
            }
    }
    @media screen and (max-width: 795px)  {   
        .boutique_partie_jaune{           
            margin-top: 77%;
            }
    }
    @media screen and (max-width: 695px)  {   
        .boutique_partie_jaune{           
            margin-top: 87%;
            }
    
    }
    @media screen and (max-width: 610px)  {   
        .boutique_partie_jaune{           
            margin-top: 94%;
            }
        }
    @media screen and (max-width: 550px)  {   
        .boutique_partie_jaune{           
            margin-top: 102%;
            }
        }
    @media screen and (max-width: 500px)  {   
        .boutique_partie_jaune{           
             margin-top: 114%;
            }
         }
     @media screen and (max-width: 450px)  {   
         .boutique_partie_jaune{           
             margin-top: 131%;
             }}
     @media screen and (max-width: 390px)  {   
            .boutique_partie_jaune{           
                    margin-top: 150%;
                }}             

     @media screen and (max-width: 360px)  {   
            .boutique_partie_jaune{           
                     margin-top: 160%;
                }}             

    @media screen and (max-width: 340px)  {   
                .boutique_partie_jaune{           
                        margin-top: 172%;
                    }}  


